.pointInc {
	font-size: 3rem !important;
}

.word {
	font-size: 3rem !important;
	font-weight: bold !important;
	/* background-color: #8fbb90; */
	border-radius: 8px;
	margin: 0 20px 10px 20px !important;
	color: #f1f1f6;
	padding: 15px !important;
}
