backend/__pycache__/
.DS_Store
venv
__pycache__/
frontend/build/
frontend/node_modules/

# Deployment files 
fargate_deployment/*.swp
fargate_deployment/package-lock.json
fargate_deployment/__pycache__
fargate_deployment/.pytest_cache
fargate_deployment/.venv
fargate_deployment/*.egg-info

fargate_deployment.cdk.staging
fargate_deployment/cdk.out
