.playerList {
  float: right;
  margin-right: 75px;
  padding: 15px 10px 20px 10px;
  background-color: gray;
  border-radius: 25px;
  height: fit-content;
  margin-top: 15%;
}

.playerList h2 {
  text-align: center;
}