.Lobby {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 1em;
}

.Lobby-div {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #F1F1F6;
  height: 100%;
  width: 100vw;
}

.word {
  font-size: 5rem !important;
  font-weight: bold !important;
  background-color: #8FBB90;
  border-radius: 8px;
  margin: 20px !important;
  color: #F1F1F6; 
  padding: 15px !important; 
}

.word-container {
  margin-top: 10%;
  margin-bottom: 15px;
}