.Lobby {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-gap: 1em;
}

.Lobby-div {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  width: 100vw;
}

.word {
  font-size: 5rem !important;
  font-weight: bold !important;
}
.Input.word{
  margin-left: 15px;
  min-width: 10% !important;
  max-width: 25%!important;
}

.word-container {
  padding: 15px;
  margin-top: 10%;
  margin-bottom: 15px;
}

.Input {
  margin-bottom: 15px;
  color: white; 
}

.Button {
  margin: 15px;
  font-size: 1.5rem !important;
}